// Media queries
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

// Colors
$linkedin-blue: #0077b5;
$linkedin-accent-blue: #00a0dc;
$linkedin-light-blue: #cfedfb;
$linkedin-black: #000000;
$linkedin-white: #ffffff;
$linkedin-darkgray: #313335;
$linkedin-mediumgray: #86888a;
$linkedin-lightgray: #f3f2ef;

// Typography
$primary-font: "LinkedIn Primary Font Regular";
$primary-font-semi-bold: "LinkedIn Primary Font SemiBold";
$secondary-font: "LinkedIn SourceSans";
$secondary-font-bold: "LinkedIn SourceSans Bold";
