@use "partials/variables" as *;
@use "partials/mixins" as *;

@font-face {
	font-family: "LinkedIn Primary Font Regular";
	src: url("../assets/typography/Source\ Serif\ Pro/SourceSerifPro-Regular.ttf")
		format("truetype");
}

@font-face {
	font-family: "LinkedIn Primary Font SemiBold";
	src: url("../assets/typography/Source\ Serif\ Pro/SourceSerifPro-Semibold.ttf")
		format("truetype");
}

@font-face {
	font-family: "LinkedIn SourceSans";
	src: url("../assets/typography/Source\ Sans\ Pro/SourceSansPro-Regular.ttf")
		format("truetype");
}

@font-face {
	font-family: "LinkedIn SourceSans Bold";
	src: url("../assets/typography/Source\ Sans\ Pro/SourceSansPro-Semibold.ttf")
		format("truetype");
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "LinkedIn SourceSans", Arial, Helvetica, sans-serif;
	background-color: $linkedin-lightgray;
}
